$font-Poppin: "Poppins", sans-serif !important;

.home-container {

    padding-right: 3rem !important;
    padding-left: 3rem !important;

}

.top-ticker {

    .card {
        height: 10vh;
        font-family: $font-Poppin;

        .d-flex {
            height: 100%;

            .bagde-item {
                .badge-title {
                    font-size: 15px;

                }

                .badge-value {
                    font-size: larger;
                    font-weight: 500;
                }
            }

        }
    }

    .vertical-divider {
        position: relative;
        width: 1px;
        height: 40px;
        /* Thiết lập chiều cao của thanh dọc */
        background-color: #ccc;
        /* Màu nền của thanh dọc */
    }

    .sucessColor {
        color: #089981 !important;
    }

    .warningColor {
        color: #F23645 !important;
    }
}

@media screen and (max-width: 769px) {
    .home-container {

        padding-right: 0!important;
        padding-left: 0!important;
    
    }
    .d-flex {
        height: 100%;

        .bagde-item {
            white-space: nowrap;
            overflow: hidden;

            .badge-title {
                font-size: 11px !important;
                font-weight: 500;
                text-overflow: ellipsis;

            }

            .badge-value {
                font-size: 12px !important;
                text-overflow: ellipsis;

                .currency {
                    display: none;
                }
            }
        }

    }
}

@keyframes loading {
    40% {
        background-position:
            100% 0;
    }

    100% {
        background-position:
            100% 0;
    }
}