$primary: rgb(41, 98, 255);
$milk: #e5e7eb;
$font-Poppin: "Poppins", sans-serif !important;

header {
    font-family: $font-Poppin;

    // max-height: 10vh;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    /* Định dạng box shadow */
    position: sticky;
    top: 0;
    z-index: 2000;
    background-color: white;


    nav {
        // padding: 0px !important;

        .nav-logo {
            padding-bottom: 0 !important;

            span {
                color: $primary;
            }
        }

        .navbar-nav {
            .nav-item {
                padding-bottom: 0px;
            }

        }

        ul:not(:first-child) {
            display: flex;
            align-items: center;
            justify-content: center;

            .dropdown {
                .nav-link {

                    i:first-child {
                        font-size: 20px;
                        font-weight: 700;
                    }
                }

                .dropdown-menu {
                    padding: 10px 10px;

                    .active {
                        border-radius: 5px;
                        background-color: $primary;

                        .t-icon {
                            i {
                                color: white
                            }
                        }

                        span {

                            color: white;
                        }
                    }

                    .dropdown-item {

                        // border-top: 1px solid red;
                        // border-bottom: 1px solid red;
                        padding: 12px 0;
                        font-size: 13px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;

                        .t-icon {
                            margin: 0 7px;

                        }

                        &:focus {
                            background-color: $primary;

                            .t-icon {
                                i {
                                    color: white
                                }
                            }

                            span {

                                color: white;
                            }
                        }
                    }
                }
            }

            .vertical-divider {

                position: relative;
                width: 1px;
                height: 25px;
                /* Thiết lập chiều cao của thanh dọc */
                background-color: #ccc;
                /* Màu nền của thanh dọc */
            }
        }

        .nav-item {
            position: relative;
            text-decoration: none;
            padding-bottom: 5px;
            cursor: pointer;

            /* Khoảng cách từ border đến văn bản */
            a {
                display: flex;
                align-items: center;

                .link-name {
                    display: inline-block;
                    // text-decoration: none !important;
                    // font-size: 15px;
                    // font-weight: 500;
                }

                i {
                    font-size: 15px;
                    padding: 0 3px;
                }

                color: #000 !important;

                text-decoration: none !important;
                font-size: 16px;
                font-weight: 500;
                // margin-left: 15px;
                // margin-right: 15px;
                // color: #000 !important;
                // display: inline-block;
                // text-decoration: none !important;
                // font-size: 15px;
                // font-weight: 500;
            }

            &::before {
                content: " ";
                z-index: -2;
                position: absolute;
                width: 0;
                /* Đặt chiều rộng ban đầu là 0 */
                height: 100%;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                border-bottom: 3px solid $primary;
                transition: width 0.2s ease-in;
                /* Sử dụng transition thay vì animation */
            }

            &:hover::before {
                width: 100%;
            }
        }

        .active::before {
            content: " ";
            z-index: -2;
            position: absolute;
            /* Đặt chiều rộng ban đầu là 0 */
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            border-bottom: 3px solid $primary;
            animation: myMove 0.3 ease-in-out;
        }



        @keyframes myMove {
            0% {
                width: 0%;
            }

            50% {
                width: 50%;
            }

            100% {
                width: 100%;
            }
        }
    }

}

@media screen and (max-width: 1140px) {
    header {
        .navbar-brand {
            font-size: small !important;
        }

        .navbar-nav {
            .nav-item {

                .link-name {
                    font-size: smaller;
                }
            }
        }

        .nav {
            .dropdown {
                .link-name {
                    display: none;
                }

                .dropdown-menu {
                    width: 260px !important;
                }
            }
        }
    }
}

@media screen and (min-width: 1140px) {
    header {
        .navbar-brand {
            font-size: small !important;
        }

        // .navbar-nav {
        //     .nav-item::before {
        //         bottom: -10px;
        //     }
        // }
        .nav {
            .dropdown {
                min-width: 260px;

            }
        }
    }
}

@media screen and (min-width: 768px) {
    header {
        .dropdown {
          
            &::after {
                // ju
                content: "";

                position: absolute;
                top: 24%;
                left: 0;
                width: 100%;
                height: 50%;
                border-left: 2px solid #ccc;
            }
        }

        .navbar-nav {
            .nav-item::before {
                bottom: -10px;
            }
        }
    }
}

@media screen and (max-width: 769px) {
    header {
        // .navbar-nav {
        //     .nav-item {
        //         background-color: red;

        //         .link-name {
        //             font-size: smaller;
        //         }
        //     }
        // }
        .nav {
            .nav-item {
                width: 100%;
            }

            .dropdown {
                .nav-link {
                    justify-content: start !important;
                }

                .dropdown-menu {
                    border: none;
                    padding-left: 30px;
                    width: 100% !important;
                }

                .link-name {
                    display: block;
                }
            }
        }
    }
}